.books-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap: 16px;
}

.product-card{
    flex: 1 1 calc(25% - 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc(25% - 16px);
    box-sizing: border-box;
}